body {color:#666666; background-color:#FFFFFF }
header {color:#FFFFFF; background-color:#002171 }
nav { color: skyblue; background-color: #BBDEFB}
h2 {color: #1976D2}
dt {color: #002171}
.resort {color: #1976D2}
h1 {margin-bottom: 0}