body {color:#666666; background-color:#90c7e3;
    font-family: sans-serif, Arial, helvetica;
    background-image: linear-gradient(to bottom,#FFFFFF,#90c7e3);
    background-repeat: no-repeat  }
#wrapper {background-color: #FFFFFF;
    background-position: center;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow:  3px 3px 3px #333333 ;
    margin-left: auto;
    margin-right: auto;    }

ul {list-style-image: url(marker.gif);  }

header {color:#FFFFFF; background-color:#002171;
    background-image: url(sunset.jpg) ;
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    text-align: center;
    padding-top: 15px;}

img { background-image: url(coast.jpg);
    width: 100%;}

#homehero {background-image: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;}

img { background-image: url(yurt.jpg) ;
    background-repeat: no-repeat;
    width: 100%;}

#yurthero { background-image:url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;}


img {background-image: url(trail.jpg);
    background-repeat: no-repeat;
    width: 100%;}

#trailhero { background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;}

nav { color: skyblue; background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 1em;}

nav a { text-decoration: none;}

main {padding: 1px 20px 20px;}

h1 {margin-bottom: 0;
    font-family: serif, Georgia,Times New Roman;
    margin-top: 0;}

h2 {color: #1976D2;
    font-family: serif, Georgia, Times New Roman;
    text-shadow: 1px 1px 1px #cccccc;}

h3 { color: #000033;
    font-family: serif, Georgia, Times New Roman;}

dt {color: #002171}

.resort {color: #1976D2;
    font-weight: bold;}

footer {font-size: 75%;
    font-style: italic;
    font-family: serif, Georgia, Times New Roman;
    text-align: center;
    padding: 2em;}

#contact {font-size: 90%;}