*{box-sizing: border-box;}

body {color:#666666; background-color:#EAEAEA;
    font-family: sans-serif, Arial, helvetica;}

#wrapper {background-color: #90c7e3;
    background-position: center;
    background-image: linear-gradient(to bottom, #FFFFFF, #90c7e3);}


header {color:#FFFFFF; background-color:#002171;
    text-align: center;}

header a{text-decoration: none;}

header a:link{color: #FFFFFF;}

header a:visited{color: #FFFFFF;}

header a:hover{color: #90c7e3;}


img { background-image: url(coast.jpg);
    width: 100%;}

#homehero {background-image: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 190px;}

img { background-image: url(yurt.jpg) ;
    background-repeat: no-repeat;
    width: 100%;}

#yurthero { background-image:url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 190px;}


img {background-image: url(trail.jpg);
    background-repeat: no-repeat;
    width: 100%;}

#trailhero { background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 190px;}

nav {font-weight: bold;
    padding: 0;
    font-size: 120%;
    text-align: center; }

nav a { text-decoration: none;
        transition: color 3s ease-out;}

nav a:link{color: #5C7FA3;}

nav a:visited{color: #344873;}

nav a:hover{color: #A52A2A;}

nav ul{list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;}

nav li{border-bottom: 1px solid darkblue}

main {display: block;
    background-color: #FFFFFF;
    margin-left: 190px;
    padding: 1px 20px 20px 30px;
    overflow: auto;}

main ul{list-style-image: url("marker.gif")}



h1 {margin-bottom: 0;
    font-family: serif, Georgia,Times New Roman;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    letter-spacing: 0.25em;}

h2 {color: #1976D2;
    font-family: serif, Georgia, Times New Roman;
    text-shadow: 1px 1px 1px #cccccc;}

h3 { color: #000033;
    font-family: serif, Georgia, Times New Roman;}

dt {color: #002171}

.resort {color: #1976D2;
    font-weight: bold;}

footer {font-size: 75%;
    font-style: italic;
    font-family: serif, Georgia, Times New Roman;
    text-align: center;
    padding: 2em;
    margin-left: 190px;
    background-color: #FFFFFF;}

#contact {font-size: 90%;}

table{border: 2px solid #3399CC;
    border-collapse: collapse;}
table td, th{padding: 0.5em;
    border: 2px solid #3399CC;}
table td {text-align: center;}
tr:nth-child(odd){background-color: #F5FAFC;}

.text {text-align:left;}

form{display: flex;
    flex-flow: column nowrap;}
input,textarea{margin-bottom: .5em;}

video, embed{float: right; padding-left: 20px;}

@media (min-width: 600px) {
    nav ul {display: flex;
        flex-flow: nowrap;
        justify-content: space-around;}
    nav li {border-bottom: none;}
    section {padding-left: 2em;
        padding-right: 2em;
        grid-row: 2 / 3;
        grid-column: auto;}
    .content main {display:grid;
        grid-template-rows:auto;
        grid-template-columns:1fr 1fr 1fr;}
    h2 {grid-row: 1 / 2;
        grid-column: 1/5;}
    #special {grid-row: auto;
        grid-column: 1 / 5;}
    footer {grid-row: auto;
        grid-column: 1 / 5;}
    form{width: 60%;
        display: grid;
        gap: 1em;
        grid-template-columns: 6em 1fr;
        grid-template-rows: auto;}
    input[type=submit]{grid-column: 2 / 3;
        width: 9em;}  }
@media (min-width: 1024px) {
    nav ul {flex-direction: column;
        padding-top: 1em;}
    nav {text-align: left;
        padding-left: 1em;
        grid-row: 2 / 5;
        grid-column: 1 / 2;}
    #wrapper{margin: auto;
        width: 80%;
        border: darkblue;
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-template-rows: auto;}
    header {grid-row: 1 / 2;
        grid-column: 1 / 4;}
    div {grid-row: 2 / 3;
        grid-column: 2 / 4;}
    main {grid-row: 3 / 4;
        grid-column: 2 / 4;}
    footer { grid-row: 4 / 5;
        grid-column: 2 / 4;}  }

